@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
html, body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: "Lora", serif;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.navbar {
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #003366; /* Deep blue */
    color: #ffffff; /* White */
    border-bottom: 2px solid #ff9933; /* Saffron */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding-left: 20px;
}

.main-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    animation: fadeIn 1.5s ease-in-out;
}

.grid {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-grid, .right-grid {
    flex: 1;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 1.5s ease-in-out;
}

h2 {
    margin-top: 0;
    color: #003366;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #003366;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003366;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002244;
}

#message, #aadhaar-info {
    margin-top: 20px;
    text-align: left;
}

footer {
    background-color: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .grid {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .left-grid, .right-grid {
        width: 100%;
        padding: 20px;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        padding-left: 0px;
    }

    .navbar .container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .brand {
        font-size: 1.2em;
    }

    .logo {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        padding-left: 0px;
    }

    .left-grid, .right-grid {
        padding: 15px;
    }

    button {
        padding: 8px 16px;
    }

    footer p {
        margin-bottom: 5px;
        font-size: 1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}
